#sec_peliculas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 20px;
    justify-self: center;
    grid-gap: 50px;
}

#sec_peliculas h3{
    text-align: center;
}

#sec_peliculas img {
    border-radius: 15px;
    margin-bottom: 10ps;
    width: 50%;
}

header h1 {
    text-shadow: 2px 2px 4px black;
}

#contenedorPeliculas p {
    color: var(--color-active);
}

#contPeliculas-boton button {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    background-color: #7f8c8d;
    color: #e0e0e0;
    border: 0;
    box-shadow: 1px 2px 1px black;
    cursor: pointer;
}

#sec_peliculas p {
    color: var(--color-active);
    font-size: 12px;
}

#contPeliculas-boton {
    display: grid;
    justify-content: center;
}

#contPeliculas-boton button {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 40px;
    background-color: #7f8c8d;
    color: #e0e0e0;
    border: 0;
    box-shadow: 1px 2px 1px black;
    cursor: pointer;
}

#warning {
    background-color: #ffc107;
    border-radius:20px;
    padding: 20px 190px;
    color: #e0e0e0;
}
