header h1 {
    text-shadow: 2px 2px 4px black;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

form #botones {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

form .boton {
    margin-right: 5px;
    background-color: rgb(27, 99, 57);
    color: white;
    border-radius: 5px;
    padding: 3px 6px 3px 6px;
    border: none;
    cursor: pointer;
}

#sec_mensajeError {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec_mensajeError .error {
    margin-top: 10px;
    padding: 10px 150px 10px 150px;
    background-color: rgb(204, 64, 64);
    font-size: small;
    color: white;
    border-radius: 10px;
}

#sec_mensajeError .succes {
    margin-top: 10px;
    padding: 10px 150px 10px 150px;
    background-color: #28a745;
    font-size: small;
    color: white;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

main p {
    margin-bottom: 0px;
}